<div class="offcanvas offcanvas-end" id="show_cart_canva" tabindex="-1" aria-labelledby="offcanvasNavbarLabel" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTittle"> Your Cart </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container bg-warning mt-3">
            
        </div>
        <h5>hola</h5>
    </div>
</div>